NEXT_PUBLIC_APP_NAME=SiapGuru Owner
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
GOOGLE_TEMPLATE_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_CLIENT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
WHATSAPP_PROVIDER_URL=
WHATSAPP_PROVIDER_TOKEN=
